body, table, a {
    font-family: 'Helvetica', 'Sans-serif', 'sans';
    font-size: 14px;
    color: #6F6F6F;
    line-height: 150%;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
}

.feedbackPanelERROR {
	color: red;
}

.feedbackPanelINFO {
	color: green;
}

.dataTable th {
    background-color: #6f6f6f;
    color: white;
    padding: 2px 10px;
}

.dataTable th a {
    color: white;
}

.dataTable tr.even {
    background-color: white;
}

.dataTable tr.odd {
    background-color: #eeeeee;
}

.dataTable td {
    padding: 0 10px;
}

#navigation {
    float: left;
    width: 120px;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#content {
    margin-left: 120px;
}

/* Registration List */
td.id {
    text-align: center;
}

td.name {
    width: 120px;
}

td.email {
    width: 250px;
}

td.dateOfBirth {
    width: 100px;
}

td.createdAt {
    width: 100px;
}
