body, table, a {
    font-family: 'Helvetica', 'Sans-serif', 'sans';
    font-size: 14px;
    color: black;
    line-height: 150%;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
}

.feedbackPanelERROR {
	color: red;
}

.feedbackPanelINFO {
	color: green;
}

.dataTable th {
    background-color: #6f6f6f;
    color: white;
    padding: 0px 10px;
    height: 25px;
}

.dataTable th a {
    color: white;
}

.dataTable tr.even {
    background-color: white;
}

.dataTable tr.odd {
    background-color: #eeeeee;
}

.dataTable td {
    padding: 0 10px;
}

ul.fields {
    list-style: none;
    padding-left: 0;
}

ul.fields li label {
    display: inline-block;
    width: 150px;
}

#navigation {
    float: left;
    width: 120px;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

#content {
    margin-left: 120px;
}

/* Registration List */
.registrationList td.id {
    text-align: center;
}

.registrationList td.name {
    width: 120px;
}

.registrationList td.email {
    width: 220px;
}

.registrationList td.dateOfBirth {
    width: 100px;
    text-align: center;
}

.registrationList td.createdAt {
    width: 120px;
    text-align: center;
}

/* Race List */
.raceList td.id {
    text-align: center;
}

.raceList td.name {
    width: 150px;
}

.raceList td.city {
    width: 100px;
}

.raceList td.cost {
    width: 50px;
    text-align: right;
}

.raceList td.distance {
    width: 70px;
    text-align: right;
}

.raceList td.maxRunners {
    width: 100px;
    text-align: right;
}

.raceList td.startDateTime {
    width: 150px;
    text-align: center;
}

.raceInfoContainer {
    float: left;
    width: 350px;
}

.regContainer {
    padding-top: 14px;
    margin-left: 350px;
}

/* RegistrationFormPanel */
ul.fields li label.genderLabel {
    float: left;
}

ul.fields li span#gender {
    display: inline-block;
}

ul.fields li span#gender label {
    display: inline;
}
